<div class="toc">
<h2>目次</h2>
<div class="toc_h1">第１章 Perlの 文字列処理の基礎</div>
<div class="toc_h2">1.1 Perlの文字列処理の基礎</div>
<div class="toc_h3">1.1.1 文字列の基礎</div>
<div class="toc_h3">1.1.2 文字列処理の小技</div>
<div class="toc_h3">1.1.3 ヒアドキュメント</div>
<div class="toc_h3">1.1.4 正規表現</div>
<div class="toc_h3">1.1.5 Perlで正しく日本語を扱う</div>
<div class="toc_h3">1.1.6 文字列にかかわる演算子</div>
<div class="toc_h3">1.1.7 文字列処理のための関数</div>
<div class="toc_h3">1.1.8 まとめ</div>
<div class="toc_h1">第２章 文字列処理の演算子</div>
<div class="toc_h2">2.1 文字列連結演算子「.」 - 文字列の連結 </div>
<div class="toc_h3">2.1.1 サンプルプログラム</div>
<div class="toc_h2">2.2 文字列リスト演算子 - qw()</div>
<div class="toc_h3">2.2.1 サンプルプログラム</div>
<div class="toc_h3">2.2.2 参考「Perlの配列」</div>
<div class="toc_h2">2.3 ヒアドキュメント - 複数行の文字列を簡単に作成</div>
<div class="toc_h3">2.3.1 サンプルプログラム</div>
<div class="toc_h2">2.4 q - クォート演算子</div>
<div class="toc_h2">2.5 qq - ダブルクォート演算子</div>
<div class="toc_h2">2.6 繰り返し演算子「x」</div>
<div class="toc_h2">2.7 Perlの比較演算子</div>
<div class="toc_h3">2.7.1 数値比較演算子</div>
<div class="toc_h3">2.7.2 文字列比較演算子</div>
<div class="toc_h3">2.7.3 論理演算子で条件を組み合わせる</div>
<div class="toc_h3">2.7.4 文字列の部分位置を調べる方法</div>
<div class="toc_h3">2.7.5 サンプルプログラム</div>
<div class="toc_h1">第３章 文字列処理の関数</div>
<div class="toc_h2">3.1 join関数 - 区切り文字で配列を結合</div>
<div class="toc_h3">3.1.1 join関数のサンプル</div>
<div class="toc_h2">3.2 length関数 - 文字列の長さを取得</div>
<div class="toc_h3">3.2.1 サンプルプログラム</div>
<div class="toc_h2">3.3 substr関数 - 文字列の切り出し・置換</div>
<div class="toc_h2">3.4 index関数 - 文字の検索</div>
<div class="toc_h3">3.4.1 index関数を使ったプログラミングのサンプル</div>
<div class="toc_h2">3.5 rindex関数 - 末尾から文字列を検索する</div>
<div class="toc_h3">3.5.1 rindex関数を使ったプログラミングのサンプル</div>
<div class="toc_h2">3.6 split関数 - 文字列の分割</div>
<div class="toc_h3">3.6.1 サンプル</div>
<div class="toc_h2">3.7 reverse関数 - 配列を逆順(文字列を逆順)にする</div>
<div class="toc_h3">3.7.1 サンプル</div>
<div class="toc_h2">3.8 uc関数 - 小文字を大文字に変換する</div>
<div class="toc_h3">3.8.1 uc関数のプログラミングのサンプル</div>
<div class="toc_h3">3.8.2 uc関数の関連情報</div>
<div class="toc_h2">3.9 ucfirst関数 - 文字列の先頭を小文字から大文字に変換する</div>
<div class="toc_h3">3.9.1 ucfirst関数のプログラミングのサンプル</div>
<div class="toc_h3">3.9.2 ucfirst関数の関連情報</div>
<div class="toc_h2">3.10 lc関数 - 大文字を小文字に変換する</div>
<div class="toc_h3">3.10.1 lc関数のプログラミングのサンプル</div>
<div class="toc_h3">3.10.2 lc関数の関連情報</div>
<div class="toc_h2">3.11 lcfirst関数 - 文字列の先頭を大文字から小文字に変換する</div>
<div class="toc_h3">3.11.1 lcfirst関数のプログラミングのサンプル</div>
<div class="toc_h3">3.11.2 lcfirst関数の関連情報</div>
<div class="toc_h2">3.12 sprintf関数 - 文字列の書式指定</div>
<div class="toc_h3">3.12.1 書式指定の記述方法</div>
<div class="toc_h3">3.12.2 sprintf関数の書式指定子一覧</div>
<div class="toc_h3">3.12.3 固定長文字列にフォーマットする</div>
<div class="toc_h3">3.12.4 2進数、8進数、16進数を進数表記でフォーマットする</div>
<div class="toc_h3">3.12.5 小数点以下のけた数で精度を指定する</div>
<div class="toc_h3">3.12.6 有効桁数で精度を指定する</div>
<div class="toc_h3">3.12.7 sprintf関数のサンプル</div>
<div class="toc_h2">3.13 chomp関数 - 改行を削除する</div>
<div class="toc_h3">3.13.1 サンプル</div>
<div class="toc_h2">3.14 chr関数 - 数値をASCIIに変換</div>
<div class="toc_h3">3.14.1 chr関数のサンプル</div>
<div class="toc_h2">3.15 ord関数 - ASCII文字を数値に変換</div>
<div class="toc_h3">3.15.1 ord関数のサンプル</div>
<div class="toc_h2">3.16 oct関数 - 8進数文字列を10進数の数値に変換</div>
<div class="toc_h2">3.17 hex関数 - 16進数文字列を10進数の数値に変換</div>
<div class="toc_h2">3.18 crypt関数 - ダイジェストを作成してパスワードの照合を行う</div>
<div class="toc_h3">3.18.1 crypt関数のサンプル</div>
<div class="toc_h1">第４章  Encodeモジュールで 日本語を扱う</div>
<div class="toc_h2">4.1 日本語の扱い - Encodeモジュール</div>
<div class="toc_h3">4.1.1 この解説での用語</div>
<div class="toc_h3">4.1.2 外部から入力された文字列は必ずデコードする</div>
<div class="toc_h3">4.1.3 外部へ出力する文字列は必ずエンコードすること</div>
<div class="toc_h3">4.1.4 ソースコードはUTF-8で保存しutf8プラグマを有効にすること</div>
<div class="toc_h3">4.1.5 内部文字列に変換することの意味</div>
<div class="toc_h3">4.1.6 文字コードの変換</div>
<div class="toc_h3">4.1.7 ファイル名として指定する文字列</div>
<div class="toc_h3">4.1.8 文字列に関するその他の注意点</div>
<div class="toc_h3">4.1.9 内部文字列について</div>
<div class="toc_h1">第５章 正規表現の基礎</div>
<div class="toc_h2">5.1 正規表現の基礎</div>
<div class="toc_h3">5.1.1 パターンマッチ</div>
<div class="toc_h3">5.1.2 置換</div>
<div class="toc_h3">5.1.3 正規表現文字</div>
<div class="toc_h3">5.1.4 文字クラス</div>
<div class="toc_h3">5.1.5 量指定子</div>
<div class="toc_h3">5.1.6 文字列の集合</div>
<div class="toc_h3">5.1.7 正規表現文字のエスケープ</div>
<div class="toc_h3">5.1.8 正規表現のテクニック</div>
<div class="toc_h3">5.1.9 正規表現のオプション</div>
<div class="toc_h3">5.1.10 最短マッチ</div>
<div class="toc_h3">5.1.11 日本語と正規表現</div>
<div class="toc_h3">5.1.12 終わりに</div>
<div class="toc_h1">第６章 ファイル入出力の基礎</div>
<div class="toc_h2">6.1 ファイル入出力の基礎</div>
<div class="toc_h3">6.1.1 ファイルオープン</div>
<div class="toc_h3">6.1.2 例外のメッセージに含める内容</div>
<div class="toc_h3">6.1.3 ファイル読み込み</div>
<div class="toc_h3">6.1.4 ファイルクローズ</div>
<div class="toc_h3">6.1.5 ファイルへの書き込み</div>
<div class="toc_h3">6.1.6 ファイルへの追加書き込み</div>
<div class="toc_h3">6.1.7 ファイルの内容を一度に読み込む</div>
<div class="toc_h3">6.1.8 改行コードについて</div>
<div class="toc_h3">6.1.9 ファイルの読み書きのアプローチ</div>
<div class="toc_h3">6.1.10 ファイル入出力のテクニック</div>
</div>
