<div class="toc">
<h2>目次</h2>
<div class="toc_h1">第１章 Windowsへの Perlのインストール</div>
<div class="toc_h2">1.1 Strawberry PerlをWindowsにインストールする</div>
<div class="toc_h3">1.1.1 Strawberry Perlがうまく動かない</div>
<div class="toc_h3">1.1.2 MSI以外におけるインストール</div>
<div class="toc_h3">1.1.3 その他のWindowsへのPerlのインストール方法</div>
<div class="toc_h3">1.1.4 他のコマンドラインツール</div>
<div class="toc_h2">1.2 ActivePerl のダウンロードとインストール</div>
<div class="toc_h3">1.2.1 ActivePerlのダウンロード</div>
<div class="toc_h3">1.2.2 ActivePerl のインストールを確認する</div>
<div class="toc_h3">1.2.3 Active Perlの使い方</div>
<div class="toc_h3">1.2.4 Active Perlのその他の情報</div>
<div class="toc_h3">1.2.5 他のコマンドラインツール</div>
<div class="toc_h2">1.3 msys2をWindowsにインストールしてPerlを使う</div>
<div class="toc_h3">1.3.1 msys2のインストール 10分</div>
<div class="toc_h3">1.3.2 Perl環境構築 20分</div>
<div class="toc_h3">1.3.3 トラブルシューティング</div>
<div class="toc_h3">1.3.4 よく使うLinuxコマンド</div>
<div class="toc_h3">1.3.5 お願い</div>
<div class="toc_h2">1.4 Windows WSL 2 を使った Perl のインストール</div>
<div class="toc_h3">1.4.1 WSL 2 のインストール</div>
<div class="toc_h3">1.4.2 Ubuntu を起動</div>
<div class="toc_h3">1.4.3 Perl のインストールを確認</div>
<div class="toc_h3">1.4.4 エクスプローラー使用してファイルを表示する</div>
<div class="toc_h1">第２章 Macへの Perlのインストール</div>
<div class="toc_h2">2.1 macOSへのPerlのインストール</div>
<div class="toc_h1">第３章 Linux/UNIXへの Perlのインストール</div>
<div class="toc_h2">3.1 Unix/LinuxへのPerlのインストール</div>
<div class="toc_h3">3.1.1 システムPerlのインストール</div>
<div class="toc_h3">3.1.2 ユーザー環境へのPerlのインストール</div>
<div class="toc_h3">3.1.3 Linuxサーバー管理・Webシステム開発環境構築</div>
<div class="toc_h1">第４章 コマンドプロンプト</div>
<div class="toc_h2">4.1 Perlを実行するためのコマンドプロンプト入門</div>
<div class="toc_h3">4.1.1 コマンドプロンプトをLinux風の環境にしたい</div>
<div class="toc_h1">第５章 perlbrewとplenv</div>
<div class="toc_h2">5.1 perlbrew - ユーザー環境にPerlをインストールする</div>
<div class="toc_h3">5.1.1 perlbrewのインストール</div>
<div class="toc_h3">5.1.2 ユーザー環境へのPerlのインストール</div>
<div class="toc_h3">5.1.3 cpanmのインストール</div>
<div class="toc_h3">5.1.4 元のPerlに戻す</div>
<div class="toc_h3">5.1.5 perlbrewで指定したバージョンのPerlをcrontabで使う方法</div>
<div class="toc_h2">5.2 plenv - ユーザー環境にPerlをインストールする</div>
<div class="toc_h3">5.2.1 plenvのインストール</div>
<div class="toc_h3">5.2.2 ユーザー環境へのPerlのインストール</div>
<div class="toc_h3">5.2.3 cpanmのインストール</div>
<div class="toc_h3">5.2.4 元のPerlに戻す</div>
<div class="toc_h3">5.2.5 plenvでインストールしたPerlをcrontabで使う方法</div>
<div class="toc_h1">第６章 cpanm</div>
<div class="toc_h2">6.1 cpanm - CPANモジュールをユーザーディレクトリへインストール</div>
<div class="toc_h3">6.1.1 cpanmのインストール</div>
<div class="toc_h3">6.1.2 モジュールのインストール</div>
<div class="toc_h3">6.1.3 cpanfile - インストールするモジュールの定義</div>
</div>
